In [1]:
print("Hello World")

Hello World

In [2]:
# Print an integer
2

2

In [3]:
# Otras operaciones
2+2

4

In [4]:
# Otras operaciones
2*5+5-2*3

9

**# Evaluating Basic Arithmetic Expression**

# **Evaluating Basic Arithmetic Expression**

In [5]:
(20+5)*4

100

## Write your markdown here
"Let us explore python without coding."

In [6]:
## Click after 1+1 in this cell and split it
1+1
2*2

4

## Click after 1+1 in this cell and split it
1+1

2*2

# Execute it as a markdown cell
# H1: This is a level 1 Heading
## H2: This is a level 2 Heading
### H3: This is a level 3 Heading
#### H4: This is a level 4 Heading
##### H5: This is a level 5 Heading
###### H6: This is a level 6 Heading

# Execute it as a markdown cell
**Bold Text using asterisks.**  
__Bold Text using underscores.__

# Execute it as a markdown cell
*Text in italics using asterisk.*
_Text in italics using underscore._

*Text in italics using asterisk.*

_Text in italics using underscore._

In [ ]:
# Bold and Italic text

***Bold and Italic text using asterisks.***

___Bold and Italic text using underscores.___

# Hyperlinks ----- [Nombre del link] (link)
[Skills Network](https://skills.network/)

# Images Nombre de la imagen: ![alt text] (Path)
LOGO: ![This is the skills network logo](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png)

# Create Tables in Markdown
| Country Name | Capital |
| -------------| ------ |
| United States | Washington DC |
| Australia | Canberra |
| India | New Delhi |

# Create unordered lists in Markdown

- First item using dashes
- Second item using dashes
- Third item using dashes
- Fourth item using dashes

* First item using asterisks
* Second item using asterisks
* Third item using asterisks
* Fourth item using asterisks

+ First item using plus
+ Second item using plus
+ Third item using plus
+ Fourth item using plus

# Create ordered lists in Markdown
1. First item
2. Second item
3. Third item
4. Fourth item

# Task 1: Create H2 level heading as Welcome to Python programming and add the image from the following url with alt text as This is SN labs New Launcher

## Welcome to Python programming

 ![This is SN labs New Launcher](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Labs_V4/images/Launcher.png)

# Task 2: Create a hyperlink to https://www.coursera.org/learn/open-source-tools-for-data-science/home with the Name of the link as "Tools For Data Science".

[Tools For Data Science](https://www.coursera.org/learn/open-source-tools-for-data-science/home)

# Task 3: Create the following table:

|Fruit | Quantity (Kg) | Price (in Rupee)|
|------|---------------|-----------------|
|Apple|2|500|
|Orange|1|200|
|Mango|3|1000|
|Grapes|2|400|